<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- 検索した時に出るページの概要　イベント毎に日付と名前を変更 -->
    <meta name="Voice&Animation研究会" content="立命館大学 Voice & Animation 研究会は、声優・アニメ関係の方々をお呼びしてトークイベントを行っている団体です。" />

    <!-- ファビコン（ショートカットのアイコン） -->
    <link rel="shortcut icon" href="img/VA_rogo.png" type="image/png">

    <!-- css読み込み -->
    <link rel="stylesheet" href="NHstyle.css" type="text/css" />
    

    <title>Voice&Animation研究会</title>
</head>
<body>
    <header>
        <div class="header">
            <img src="img/VA_rogo.png" alt="ロゴ" class="logo" >
            <a href="NewHome.html" class="head_name">Voice&Animation研究会</a>
            <hr style="border:none;border-top:dashed 2px;height:1px;width:100%;">
            <div class="grid">
                <a href="NewHome.html" class="link">トップ</a>  
                <a href="index.html" target="_blank" class="link">イベント情報</a>
                <a href="GetMem.html" class="link">入会希望者の方へ</a>
                <a href="LastEvent.html" class="link">過去イベント</a>
            </div>
        </div>
    </header>

    <main>
        
    </main>
</body>