    <!--呪文詠唱-->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 検索した時に出るページの概要　イベント毎に日付と名前を変更 -->
<meta name="description" content="立命館大学 Voice & Animation 研究会では、2024年3月3日(日)に東山奈央様をお招きしてトークイベントを開催いたします。" />

  <!-- イベントタイトル（そのイベントに合わせて変更） -->
<title>「立命館でなおまつり！」イベント詳細</title>

<!-- ファビコン（ショートカットのアイコン） -->
<link rel="shortcut icon" href="img/VA_rogo.png" type="image/png">

<!-- ここは変更ダメ -->
<link rel="stylesheet" href="style.css" type="text/css" />

</head>
<!--呪文詠唱終了-->

<body>

  <!-- ヘッダー -->
  <div class="header">
    <img id="circle_logo" src="img/home_top.jpg" alt="サークルロゴ">
  </div>
  <div class="grid">
      <a class="btn btn-outline-secondary btn-lg" href="#anc_caution" role="button"> 注意事項</a>
      <a class="btn btn-outline-secondary btn-lg" href="#anc_entry" role="button"> チケット応募</a>
      <a class="btn btn-outline-secondary btn-lg" href="#anc_access" role="button"> アクセス</a>
      <a class="btn btn-outline-secondary btn-lg" href="#anc_contact" role="button"> お問い合わせ</a>
  </div>

<!-- 変更ダメ -->
<!-- JavaScriptの読み込み -->
<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<!-- ヘッダー終わり -->

<!-- メインコンテンツ -->

<!-- 概要 -->
<section>

   <div id="wordCustom-wrap">
    <div class="content-wrap-1000px">
      <div id="main-img">
        <div class="title_logo">
          <img src="img/Title_rogo_Ver1.0.png" alt="タイトルロゴ">
        </div>
      </div>
      <div class="section-wrap mb-10vw" id="wordinfo-ticket">
        <div class="h3_st">開催概要</div>
     
        <table>
         <tbody>
           <tr>
             <th>会場</th>
             <td>立命館大学びわこ・くさつキャンパス<br>
             <span class="less">〒525-0058　滋賀県草津市野路東1-1-1</span></td>
           </tr>
     
           <tr>
             <th>開場・受付開始</th>
             <td>
               <p>15:00</p>
             </td>
           </tr>
           <tr>
             <th>開演時間</th>
             <td><p>16:00</p></td>
           </tr>
     
           <tr>
             <th>終演時間</th>
             <td><p>
               17:40頃<br>
               ※時間は前後する可能性がございます。
             </p></td>
           </tr>
     
           <tr>
             <th>入館料</th>
             <td><p>3,000円</p></td>
           </tr>
     
           <tr>
             <th>座席</th>
             <td><p>全席指定</p></td>
           </tr>
         </tbody>
        </table>

    </div>
   </div>

   <!-- 概要終わり -->

   <!-- 注意事項 -->
   <section class="caution">
    <h3 class="ribbon" id="anc_caution">当日注意事項</h3>
    <ul>
      <li>イベント会場はプリズムホールです。受付場所は当落メールにてお伝えいたします。
      <li>会場周辺に駐車場及び駐輪場はございません。ご来場の際は公共の交通機関をご利用下さい。</li>
      <li>チケットの転売・譲渡はいかなる場合にも固くお断りしています。</li>
      <li>当日は以下のものをお持ち下さい。
      <ol>
      <li>身分証については以下のものを必ず持参してください。(当日受付にて本人確認を行います。)
      <br>下記の「顔写真付きの身分証明書」をお持ちの場合、いずれか１枚をご持参ください。</br>
      <div style="border-style: double; border-width: 3px; padding: 5px 0px 5px 15px; width: 500px;"><!--div要素で囲んだボックスを設定-->
      <font size="3">
      学生証(顔写真あり)<br>
      運転免許証<br>
      パスポート<br>
      住民基本台帳カード<br>
      在留カードまたは外国人登録証明書<br>
      障害者手帳<br>
      マイナンバーカード(顔写真有り)<br>
      </font>
      </div>
          上記の「顔写真付きの身分証明書」をお持ちでない場合、<u><b>下記Aから2つ、もしくはA、Bから１つずつ</b></u>ご持参ください。
      <div style="border-style: double; border-width: 3px; padding: 5px 0px 5px 10px; width: 550px;">
      <font size="3">
      <ol type="A">
      <li>保険証、戸籍謄本、戸籍抄本、住民票、印鑑登録証明書、年金手帳
      <li>社員証、学生証(顔写真なし)、キャッシュカード、クレジットカード
      </ol>
      </font>
      </div>
          ※イベント当日まで有効なものをお持ちください。
      <br>身分証についてご質問がある方は、<a href="contact.html">お問い合わせ</a>下さい。</br>
      </li>
      <li>座席番号を明記したメールをプリントアウトした紙、座席番号を明記したメールを転送した携帯、もしくは座席番号をメモした紙のいずれか１つ</li><li>筆記用具(イベント終了後にアンケートを行う予定です。)</li>
      </ol></li>
      <li>ペア席をご希望された方は必ずペアの方と一緒に受付へお越し下さい。</li>
      <li>会場施設内では録音・撮影を一切禁止しております。</li>
    </ul>
    </section>
    
    <section>
      <h3 class="ribbon">感染症対策について</h3>
      <ul>
        <li>新型コロナウイルス感染症の5類感染症移行に伴い、本イベントでは感染症対策についてはお客様ご自身の判断にお任せいたします。
      </ul>
      </section>
    
    <section>
      <h3 class="ribbon">返金の手続きについて</h3>
      <ul>
        <li>返金の手続きに関しましては、イベント前日までにメールにてお問い合わせをお願いいたします。<br>
            お問い合わせの際、以下の内容を併記頂くようお願いいたします。
        <ol>
        <li>入金完了メールの本文
        <li>お申し込み時の氏名
        <li>振り込み時の氏名
        </ol>
        </li><br>
        <li>イベント前日までにお問い合わせが無い状態でイベントにご参加されていない場合、返金の対応は致しません。
        </li>
    </ul>
    </section>
    
    <section>
    <h3 class="ribbon">持ち込み禁止物</h3>
    <ul>
      <li>以下のものは会場への持ち込みを禁止させていただきます
      <ol>
      <li>飲食物（ペットボトルのみ可）
      <li>録音撮影機器、通信機器（携帯電話は電源をお切り下さい）
      <li>刃物・着火物・30cm以上の長物などの危険物
      <li>サイリウム、ケミカルライト、レーザーポインターなどの光を発する物
      <li>その他イベントの進行の妨げとなる物や危険物と判断される物
      </ol>
      </li><br>
      <li>入場前に荷物検査を行います。上記持ち込み禁止物をお持ちの場合、預かりもしくは破棄の措置を<br>
      とらせて頂きます。ご了承下さい。<br>
      </li>
    </ul>
    </section>
    
    <section>
    <h3 class="ribbon">免責事項</h3>
    <ul>
      <li>以下の理由により本イベントの時間の変更・中止とする場合がございます。
      <ol>
      <li>天候・災害
      <li>出演者様のご都合
      <li>交通機関の影響
      <li>その他、やむを得ない事態
      </ol>
    </ul>
    <ul>
      <li>また、上記の理由で中止となった場合、チケット代金に関しましては全額返金できない場合が<br>
        ございます。あらかじめご了承下さい。</li>
    </ul>
    </section>
   <!-- 注意事項終わり -->

   <!-- チケット応募 -->
   <section>
    <h3 class="ribbon" id="anc_entry">応募方法</h3>
    <ul>
      <li>応募はこちらのページからお願いいたします。
      <li>1次応募開始は<STRONG>1月9日(火)12:00</STRONG>からになります。
      <li>1次応募締切りは<STRONG>1月23日(火)23:59</STRONG>までとなっておりますのでご注意ください。</li>
      <li>ペア席希望でお申し込みいただくと、同席を希望される方と隣同士の席を準備させていただきます。</li>
      <li>車椅子のご使用などで、席に特別な配慮が必要な場合はその旨もお書きください。</li>
      <li>応募はお一人様一回のみでお願い致します。</li>
      <li>応募多数の場合は抽選となります。ご了承下さい。</li>
      <li>座席は全席指定となります。席番号は応募した時期等に関わらず抽選で決めさせていただきます。
      </li>
    </ul>
    </section>
    
    <section>
    <h3 class="ribbon">個人情報の取り扱いに関して</h3>
    
    <p class="left">当研究会では、皆様からご提供いただいた個人情報については、イベント開催への利用目的以外の目的では利用いたしません。
    万一、当該目的以外の目的で利用する場合や、利用目的そのものを変更する場合は、必ず事前に皆様にお知らせいたします。<br>
    イベント終了後に不要となった個人情報については、速やかに且つ適正に削除・廃棄いたします。</p>
    </section>
    
    <section>
    <h3 class="ribbon">応募の流れ</h3>
    
    <p>応募は以下の流れで行います。よく確認の上、ご応募下さい。</p>
    <p><b><font size="5">Step1</font></b></p>
     <p class="left">応募フォームに必要事項をご記入下さい。<br>
    <font color="red">※フリーメールご利用時において、送信元が「@gmail.com」のメールを受信できるように<br>
    設定をお願いいたします。</font><br>
    </p>
    
    
    <p><b><font size="5">Step2</font></b></p>
    <p class="left">応募フォームからの応募完了後、こちらから確認メールが送られます。<br>
    確認メールに記載されている手順に従って応募の最終確認を行います。<br>
    <font color="red">最終確認の手続きを終えるまでは応募は完了していませんので、<br>
    お忘れのないようご注意下さい。</font><br>
    なお、この手続きは<u><strong>Step1完了後2時間まで</strong></u>となります。</p>
    
    <p><b><font size="5">Step3</font></b></p>
    <p class="left">応募期間終了後、3日以内に当落メールが送信されます。<br>
    当落メールに入金に関しての情報が記載されていますので、入金締め切り日までに入金をお願いいたします。<br>
    入金締め切り終了後、3日以内に入金確認メールが送信されます。<br>
    <font color="red">こちらからのメールを送信した際、当研究会のX(旧Twitter)にてお知らせしております。<br>
    当研究会のX(旧Twitter)の確認をよろしくお願いいたします。</font><br></p>
    当研究会のX(旧Twitter)は<a href="http://twitter.com/rits_vaken">@rits_vaken</a>こちらから
    
    <p><b><font size="5">応募ページ</font></b></p>
    <P>応募ページは<strong><a href="https://www.rits-vaken.info/event23g/entry/entry_form.php"><font size="4">こちら</font></a></strong>です。</P> 
    <br>
    </ul>
    </section>
    <!-- チケット応募終わり -->

   <!-- 交通情報 -->
   <section>
    <h3 class="ribbon" id="anc_access">会場情報</h3>
    <p class="left">
    当イベントは立命館大学びわこ・くさつキャンパスにございますプリズムホールにて行われます。
    <br/>当キャンパスまでの地図は<a href="http://www.ritsumei.ac.jp/accessmap/bkc/">こちら</a>をご覧ください。
    <br/>キャンパスは滋賀県草津市にあり、最寄駅はJRの南草津駅になります。<BR>駅から会場までは近江鉄道バスをご利用ください。<br />
    会場付近には駐車場・駐輪場はございません。公共の交通機関をご利用ください。<br />
    </p>
    </section>
    
    <section>
    <h3 class="ribbon">キャンパスまでのアクセス方法</h3>
    <p class="left">
    南草津駅の改札を出て右に曲がり東口の階段を下っていただくと近江鉄道バスのバス停がございます。<br>
    「立命館大学行き」もしくは「立命館大学経由」に乗っていただきますと、約10分から15分ほどで到着いたします。<br>
    </p>
    </section>
    
    <section>
    <h3 class="ribbon">受付会場の位置</h3>
    <p class="left">
    キャンパス内の地図は<a href="http://www.ritsumei.ac.jp/campusmap/bkc/">こちら</a>をご覧ください。<br>
    受付会場は地図内28番のプリズムハウス敷地内のプリズムホール前を予定しております。<br>
    <!-- イベント会場は地図内28番のプリズムハウスのプリズムホールとなっております。<br> -->
    </p>
    </section>

    <!-- 交通情報終わり -->


    <!-- お問い合わせ -->
    <section>
      <h3 class="ribbon" id="anc_contact">お問い合わせについて</h3>
      <p class="left">
      質問等がございましたら、よくある質問を一読の上で、下記のメールアドレスへお願いします。<br><br>
      また、応募や座席番号に関するお問い合わせはイベント当日、対応出来ない場合がございますので<br>ご了承ください。<br><br>
      立命館大学および所属事務所様へのお問い合わせはご遠慮ください。
      </p>
      
      <p class="left">
      メールアドレス：events23g.ritsu.va@gmail.com
      <br>※上記アドレスからのメールが受け取れるように設定の上、お問い合わせください。
      </p>
      </section>
      
      <section>
      <p class="left">
      <h3 class="ribbon">よくある質問</h3>
      <ul class="custumQ">
       <li>当落メールや座席番号通知メールが届いていない<br>
      </ul>
      <ul class="custumA">
       <li>迷惑メールやスパムフォルダに入っている場合がございますので、そちらをご確認ください。<br><br>
      </ul>
      
      <ul class="custumQ">
       <li>応募をして、座席番号をもらったのですが、用事でいけなくなりました。<br>
           知り合いに譲りたいのですが可能ですか？<br>
      </ul>
      <ul class="custumA">
       <li>チケットの譲渡は原則禁止させていただいております。ご了承ください。<br><br>
      </ul>
      
      <ul class="custumQ">
       <li>当日券の販売はありますか？<br>
      </ul>
      <ul class="custumA">
       <li>イベント特設ページのトップにて、事前応募が終了し次第当日券の有無を掲載いたしますので、<br/>
           そちらをご確認ください。<br><br>
      </ul>
      
      </p>
      </section>
      <!-- お問い合わせ終わり -->


   <!-- フッター -->

<div id="footer">
  <small>(C) 2016 Ritsumeikan University Voice &amp; Animation Club All Rights Reserved.</small>
</div>
  
  <!-- フッター終わり -->
<!-- bootstrap・css　同じく変更ダメ -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</body>
</html>